{% extends "base" %}
{% block title %}404 - Not Found{% endblock title %}
{% block nav_contents %}
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock nav_contents %}
{% block page_content %}
<div class="page-header">
	<h1>404 Not Found</h1>
</div>
{% endblock page_content %}

