{% extends "base" %}
{% block title %}About{% endblock title %}
{% block nav_contents %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock nav_contents %}
