<html>
	<body>
		{{#if flash}} {{flash.name}}: {{flash.msg}} {{/if}}
		<h1>Hello, World!</h1>
		<form name="login" action="http://localhost:8000/" method="post">
				<table width="380" border="0">
			<tbody><tr>
			<td width="99">
			<span style="color:#999">name :</span></td>
			<td>
			<input name="name" size="20" type="text"></td>
			</tr>
			<tr>
			<td></td>
			<td><input value="log in" type="submit"> [<a href="https://pinboard.in/password_reset/">lost password</a>]</td>
			</tr>
			</tbody></table>
		</form>
	</body>
</html>
